<template>
  <q-page>
    <h3>Dashboard</h3>
    <q-toolbar>
      <q-btn-dropdown
        label="Posts"
        color="primary"
        dropdown-icon="las la-angle-down"
      >
        <q-list>
          <q-item
            v-close-popup
            clickable
            to="/posts"
          >
            <q-item-section avatar>
              <q-avatar
                icon="las la-info-circle"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>All Posts</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            v-close-popup
            clickable
            to="/"
          >
            <q-item-section avatar>
              <q-avatar
                icon="las la-user"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>My Posts</q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            v-close-popup
            clickable
            to="/"
          >
            <q-item-section avatar>
              <q-avatar
                icon="las la-pen-fancy"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Add new Post</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-toolbar>
  </q-page>
</template>

<script>
import { defineComponent, computed, ref } from 'vue'
import { useStore } from 'vuex'

import Post from '../../models/Post'

// import axios from 'axios'

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const store = useStore()

    const isAuthenticated = computed(() => store.getters['auth/isAuthenticated'])

    // const posts = ref(axios.get('http://127.0.0.1:8000/api/posts')
    //   .then(response => {
    //     posts.value = response.data.data
    //   }))

    const posts = ref(Post.all())

    return {
      posts,
      isAuthenticated
    }
  }
})
</script>
