<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="las la-bars"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-btn
          outline
          flat
          no-caps
          unelevated
          size="lg"
          padding="2"
          dense
          label="Quasar Foundation"
          to="/"
        />

        <q-space />

        <template v-if="isAuthenticated">
          <q-btn
            flat
            round
            icon="las la-home"
            to="/dashboard"
          />
          <q-btn
            flat
            round
            icon="las la-sign-out-alt"
            @click="doLogout"
          />
        </template>
        <template v-else>
          <q-btn
            flat
            round
            icon="las la-user"
            to="/auth/register"
          />
          <q-btn
            flat
            round
            icon="las la-sign-in-alt"
            to="/auth/login"
          />
        </template>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list v-if="isAuthenticated">
        <q-item
          v-close-popup
          clickable
          to="/dashboard"
        >
          <q-item-section avatar>
            <q-avatar
              icon="las la-home"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Dashboard</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-close-popup
          clickable
          to="/posts"
        >
          <q-item-section avatar>
            <q-avatar
              icon="las la-info-circle"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>All Posts</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-close-popup
          clickable
          to="/"
        >
          <q-item-section avatar>
            <q-avatar
              icon="las la-user"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>My Posts</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-close-popup
          clickable
          to="/"
        >
          <q-item-section avatar>
            <q-avatar
              icon="las la-pen-fancy"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Add new Post</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref, computed } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import axios from 'axios'

export default defineComponent({
  name: 'MainLayout',
  setup () {
    const store = useStore()
    const router = useRouter()

    axios.get('http://127.0.0.1:8000/sanctum/csrf-cookie')

    const isAuthenticated = computed(() => store.getters['auth/isAuthenticated'])

    function doLogout () {
      store.dispatch('auth/doLogout')
      router.push('/')
    }

    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      isAuthenticated,
      doLogout
    }
  }
})
</script>
