<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    >
    <template v-if="isAuthenticated">
      <q-btn
        label="Get User"
        @click="getUser"
      />
      <q-btn
        label="Get Posts"
        @click="getPosts"
      />
    </template>
  </q-page>
</template>

<script>
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'

import axios from 'axios'

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const store = useStore()

    const isAuthenticated = computed(() => store.getters['auth/isAuthenticated'])

    const getUser = () => {
      axios.get('http://127.0.0.1:8000/api/user')
        .then(response => {
          console.log(response.data.email)
        })
    }
    const getPosts = () => {
      axios.get('http://127.0.0.1:8000/api/posts')
        .then(response => {
          console.log(response.data.data)
        })
    }

    return {
      getUser,
      getPosts,
      isAuthenticated
    }
  }
})
</script>
