<template>
  <q-page
    padding
    class="flex flex-center"
  >
    <div
      class="full-width"
      style="max-width: 300px"
    >
      <h5 class="q-my-md text-center">
        Login
      </h5>
      <q-card>
        <q-card-section>
          <q-form @submit.prevent="submitForm">
            <q-input
              v-model="form.email"
              filled
              label="Email"
              placeholder="user@email.com"
              class="q-mb-md"
            />
            <q-input
              v-model="form.password"
              filled
              label="Password"
              :type="passwordVisibility"
              class="q-mb-sm"
            >
              <template #append>
                <q-btn
                  v-if="passwordVisibility == 'password'"
                  icon="las la-eye"
                  flat
                  round
                  @click="showPassword"
                />
                <q-btn
                  v-else
                  icon="las la-eye-slash"
                  flat
                  round
                  @click="showPassword"
                />
              </template>
            </q-input>
            <q-checkbox
              v-model="rememberMe"
              label="Remember Me"
              class="q-mb-md"
            />
            <q-btn
              label="login"
              class="full-width"
              color="primary"
              type="submit"
            />
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, unref } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
import axios from 'axios'

export default defineComponent({
  name: 'LoginPage',
  setup () {
    axios.get('http://127.0.0.1:8000/sanctum/csrf-cookie')

    const store = useStore()
    const router = useRouter()

    const form = ref({
      email: 'john@mail.com',
      password: '123'
    })

    const $q = useQuasar()

    const passwordVisibility = ref('password')

    function showPassword () {
      if (passwordVisibility.value === 'password') {
        passwordVisibility.value = 'text'
      } else {
        passwordVisibility.value = 'password'
      }
    }

    function submitForm () {
      if (!form.value.email || !form.value.password) {
        $q.notify({
          type: 'negative',
          message: 'Error',
          icon: 'las la-exclamation-triangle',
          position: 'bottom',
          actions: [
            { icon: 'las la-times', round: true, dense: true, caps: false, color: 'white', handler: () => { /* ... */ } }
          ],
          timeout: 3000
        })
      } else {
        store.dispatch('auth/doLogin', unref(form))
        router.push('/')
      }
    }

    return {
      form,
      rememberMe: ref(false),
      showPassword,
      passwordVisibility,
      submitForm
    }
  }
})
</script>
