<template>
  <q-page
    padding
    class="flex flex-center"
  >
    <div
      class="full-width"
      style="max-width: 300px"
    >
      <h5 class="q-my-md text-center">
        Register
      </h5>
      <q-card>
        <q-card-section>
          <q-form>
            <q-input
              v-model="form.name"
              filled
              label="Name"
              placeholder=""
              class="q-mb-md"
            />
            <q-input
              v-model="form.email"
              filled
              label="Email"
              placeholder="user@email.com"
              class="q-mb-md"
            />
            <q-input
              v-model="form.password"
              filled
              label="Password"
              :type="passwordVisibility.one"
              class="q-mb-sm"
            >
              <template #append>
                <q-btn
                  v-if="passwordVisibility.one == 'password'"
                  icon="las la-eye"
                  flat
                  round
                  @click="showPassword1"
                />
                <q-btn
                  v-else
                  icon="las la-eye-slash"
                  flat
                  round
                  @click="showPassword1"
                />
              </template>
            </q-input>
            <q-input
              v-model="form.password_confirmation"
              filled
              label="Password"
              :type="passwordVisibility.two"
              class="q-mb-sm"
            >
              <template #append>
                <q-btn
                  v-if="passwordVisibility.two == 'password'"
                  icon="las la-eye"
                  flat
                  round
                  @click="showPassword2"
                />
                <q-btn
                  v-else
                  icon="las la-eye-slash"
                  flat
                  round
                  @click="showPassword2"
                />
              </template>
            </q-input>
            <q-checkbox
              v-model="rememberMe"
              label="Remember Me"
              class="q-mb-md"
            />
            <q-btn
              label="login"
              class="full-width"
              color="primary"
              @click="doLogin"
            />
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, unref } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'

export default defineComponent({
  name: 'RegisterPage',
  setup () {
    axios.get('http://127.0.0.1:8000/sanctum/csrf-cookie')

    const form = ref({
      name: '',
      email: 'john@mail.com',
      password: '123',
      password_confirmation: '123'
    })

    const router = useRouter()

    const passwordVisibility = ref({ one: 'password', two: 'password' })
    const showPassword1 = () => {
      if (passwordVisibility.value.one === 'password') {
        passwordVisibility.value.one = 'text'
      } else {
        passwordVisibility.value.one = 'password'
      }
    }
    const showPassword2 = () => {
      if (passwordVisibility.value.two === 'password') {
        passwordVisibility.value.two = 'text'
      } else {
        passwordVisibility.value.two = 'password'
      }
    }
    const doLogin = () => {
      axios.post('http://127.0.0.1:8000/api/spa/register', unref(form))
        .then(response => {
          console.log(response.data.message)
          router.push({ path: '/auth/login' })
        })
    }

    return {
      form,
      passwordVisibility,
      rememberMe: ref(false),
      showPassword1,
      showPassword2,
      doLogin
    }
  }
})
</script>
