<template>
  <q-page class="q-py-lg q-px-lg">
    <q-btn
      label="Add"
      color="primary"
      @click="addTodo"
    />
    <q-toggle v-model="drawerState" />
    <ul>
      <li
        v-for="t in todo"
        :key="t.id"
      >
        {{ t.body }}
      </li>
    </ul>
  </q-page>
</template>

<script>
import { defineComponent, ref, computed } from 'vue'

import { useStore } from 'vuex'

import Todo from '../models/Todo'

export default defineComponent({
  name: 'TestPage',
  setup () {
    const $store = useStore()

    const drawerState = computed({
      get: () => $store.state.auth.drawerState,
      set: val => {
        $store.commit('auth/updateDrawerState', val)
      }
    })

    Todo.insert({
      data: [
        { id: 1, body: 'do something' },
        { id: 2, body: 'do something else' }
      ]
    })

    const addTodo = () => {
      Todo.insert({
        data: {
          id: 4,
          body: 'do something NEW'
        }
      })
    }

    const todo = ref(Todo.all())

    return {
      todo,
      addTodo,
      drawerState
    }
  }
})
</script>
