<template>
  <q-page class="flex flex-center">
    <h3>Posts</h3>
    <ul>
      <li
        v-for="post in posts"
        :key="post.id"
      >
        {{ post.body }}
      </li>
    </ul>
  </q-page>
</template>

<script>
import { defineComponent, computed, ref } from 'vue'
import { useStore } from 'vuex'

import Post from '../../models/Post'

import axios from 'axios'

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const store = useStore()

    const isAuthenticated = computed(() => store.getters['auth/isAuthenticated'])

    const posts = ref()

    if (Post.all().length) {
      posts.value = Post.all()
    } else {
      posts.value = axios.get('http://127.0.0.1:8000/api/posts')
        .then(response => {
          Post.insert(response.data)
          posts.value = response.data.data
        })
    }

    return {
      posts,
      isAuthenticated
    }
  }
})
</script>
